* {
    font-family: 'Courier New', Courier, monospace;
} 

body {
    background-color: black; 
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/fondo.png');
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.3; 
    z-index: -1;
    pointer-events: none;
}

.contenedor { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
} 

.register, .login { 
    color: aquamarine;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0.4) 0%, rgba(9, 9, 121, 0.4) 35%, rgba(0, 212, 255, 0.4) 100%);
    display: none; 
    border: 1px solid aqua; 
    border-radius: 5px; 
    padding: 1rem; 
} 

.register input, .login input, 
.register button, .login button { 
    margin-bottom: 10px; 
    padding: 10px; 
    width: 100%; 
    box-sizing: border-box; 
    border: 1px solid black; 
    border-radius: 5px; 
} 

.register input[type="radio"] {
    width: auto;
    margin: 0;
}

.register h2, .register h3, .login h2 {
    text-align: center;
    color: aqua;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: center;
    background: linear-gradient(181deg, rgba(2, 0, 36, 0.19) 0%, rgba(9, 9, 121, 0.19) 35%, rgba(0, 212, 255, 0.18) 100%);
    padding: 0.5rem;
}

.titulo {
    text-align: right;
    color: white;
    margin: 0; 
    justify-self: right; 
}

.botones {
    justify-self: end; 
    display: flex;
    gap: 10px;
}

.login form { 
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
}

.register form {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.datos, .generos {
    display: flex;
    flex-direction: column;
}

.generos h3 {
    margin-bottom: 20px;
}

.radio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    flex-grow: 1; 
}

.register button, .login button {
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    color: white;
    border: 2px solid lightskyblue; 
    cursor: pointer; 
    font-size: 1.2rem;
}

.register form button.grid-button {
    grid-column: 1 / -1;
    margin-top: 10px;
    height: auto; 
}

.form-check {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin: 0;
}